.card{
    width:250px;
    background-color:#252525;
    color:white;
    @media (max-width: 510px){
       width:180px;
       margin-left:140px;
       
    }

}
.card-title{
    color:white;
}

a{
    color:white;
}