@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap');

h2{
    font-family: 'BioRhyme', serif;
}

.toolbox{
    height:100vh;
    
}

.tool-icons{
    display:flex;
    justify-content: space-around;
    padding:40px;
}
h2{
    font-size:1.8rem
}